<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ryan Nicholas Website - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='site.css') }}" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='site.js') }}"></script>
  </head>
  <body>
    <div class="container">

      <div>

        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default">
  
            <div class="navbar-header" style="padding-left: 10%;">
    
              <a href="/" class="nav-item navbar-brand">Ryan Nicholas</a>
            </div>
            <div class="collapse navbar-collapse container">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/about" class="nav-item nav-link button">About</a>
                </li>
                <li>
                  <a href="/experience" class="nav-item nav-link button">Experience</a>
                </li>
                <li>
                  <a href="/classes" class="nav-item nav-link button">Classes</a>
                </li>
                <li>
                  <a href="/contact" class="nav-item nav-link button">Contact Info</a>
                </li>
              </ul>
    
            </div>
          </nav>
        </div>

      </div>
      
      <div class="container">
        <main>
          {% block content %}{% endblock %}
          
        </main>
      </div>
    </div>

  </body>
</html>
