<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Digit Recognition - {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='site.css') }}?v=1.0" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='site.js') }}?v=5.6"></script>
  </head>
  <body>
    <div class="container">
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
  </body>
</html>
