<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ryan Nicholas Website - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='site.css') }}" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='site.js') }}"></script>
  </head>
  <body>
    <div>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default">
        <div class="container">

          <div class="navbar-header navbar-collapse">
  
            <a href="/" class="nav-item navbar-brand">Ryan Nicholas</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ml-auto">
              <li>
                <a href="/about" class="nav-item nav-link button">About</a>
              </li>
              <li>
                <a href="/experience" class="nav-item nav-link button">Experience</a>
              </li>
              <li>
                <a href="/classes" class="nav-item nav-link button">Classes</a>
              </li>
              <li>
                <a href="/contact" class="nav-item nav-link button">Contact Info</a>
              </li>
            </ul>
  
          </div>
        </div>
      </nav>

    </div>
    <div class="container">
      <main>
        {% block content %}{% endblock %}
        
      </main>
    </div>
    <footer class="foot">
      <div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default">
          <div class="container col-md-4" style="align-items:inherit;">
            <div class="ml-auto">
              <ul class="nav navbar-nav row" style="align-items: center;">
                <li class="col">
                  <a class="nav-item nav-link button" href="https://github.com/randor12"><img src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_505df21738edbe9baababa9d60be291d/github.png" width="50%"></a>
                </li>
                <li class="col">
                  <a class="nav-item nav-link button" href="https://www.linkedin.com/in/ryan-nicholas-62a095175/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" width="10%"></a>
                </li>
                <li class="col">
                  <a class="nav-item nav-link button" href="https://www.instagram.com/ryan_n272/"><img style="padding-top: 5%;" src="https://i.pinimg.com/originals/66/41/c9/6641c94e15a0be37af49a4250386c03e.png" width="15%"></a>
                </li>
              </ul>
    
            </div>
          </div>
        </nav>
      </div>
    </footer>
    
  </body>
</html>
