{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}


<div class="cover">
    <div class="container">
        <!-- <div class="row">
             -->
            <!-- <div class="col-lg-6 title-photo">
    
                <img src="{{ url_for('static', filename='img/coding.jpg') }}" width="300px" height="350px">
            </div> -->
        <div class="bg">
        </div>
        <div class="title text-center">
            <h3>Ryan Nicholas</h3>
            <h3>School: Virginia Tech</h3>
            <h4>Data Centric Computing Major</h4>
            <h4>Math Minor</h4>
        </div>
        
        <!-- </div> -->
    </div>
</div>


{% endblock %}
