{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}


<div class="container">
    <div class="cover">
        
        <img src="{{ url_for('static', filename='img/cover_photo.jpg') }}" height="100%" width="100%" class="title-photo" style="border-radius: 50%; background-position: 70%;">
        <div class="title text-center">
            <h3>Ryan Nicholas</h3>
            <h3>School: Virginia Tech</h3>
            <h4>Data Centric Computing in Computer Science Major</h4>
            <h4>Math Minor</h4>
            <br>
            <br>
        </div>
        
    </div>

    
</div>


{% endblock %}
